.jornadas-nav {
    position: relative;
    padding: 0 40px;
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.jornadas-swiper {
    width: 50%;
    overflow: hidden;
    background-color: var(--secondary-red);
    border-radius: 8px;
    padding: 5px;
    height: 40px;
    box-shadow: 0 2px 5px var(--secondary-red);
    position: relative;
}

.jornadas-swiper .swiper-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
}

.jornadas-swiper .swiper-slide {
    width: auto;
    flex-shrink: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.jornada-btn {
    padding: 4px 10px;
    margin: 0 3px;
    border: none;
    border-radius: 15px;
    background-color: var(--primary-black);
    color: var(--primary-white);
    cursor: pointer;
    transition: all 0.3s ease;
    white-space: nowrap;
    font-size: 12px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jornada-btn:hover {
    background-color: var(--dark-gray);
}

.jornada-btn.active {
    background-color: var(--dark-gray);
    color: var(--primary-white);
}

.jornadas-swiper .swiper-button-next,
.jornadas-swiper .swiper-button-prev {
    color: var(--primary-white);
    background-color: var(--primary-black);
    width: 22px;
    height: 22px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0;
}

.jornadas-swiper .swiper-button-next:after,
.jornadas-swiper .swiper-button-prev:after {
    font-size: 12px;
}

.jornadas-swiper .swiper-button-next {
    right: 8px;
}

.jornadas-swiper .swiper-button-prev {
    left: 8px;
}

.jornada-content {
    margin-top: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.partido-card {
    background-color: var(--primary-black);
    border-radius: 8px;
    padding: 15px;
    margin: 15px;
    box-shadow: 0 2px 5px var(--secondary-red);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 70px;
}

.equipo-nombre {
    font-size: 14px;
    color:var(--primary-white);
}

.resultado-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}

.resultado {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    font-family: 'Roboto', sans-serif;
}

.hora {
    font-size: 16px;
    font-weight: bold;
    color: var(--primary-white);
}

.estado {
    font-size: 11px;
    color: #666;
    margin-top: 4px;
    font-family: 'Roboto', sans-serif;
}

.visitante {
    text-align: right;
    justify-content: flex-end;
}

.visitante .equipo-nombre {
    order: 1;
}

.visitante .equipo-logo {
    order: 2;
}

.jornadas-nav::-webkit-scrollbar {  
    display: none;
} 