
.jornadas-nav {
    display: flex;
    overflow-x: auto;
    background-color: var(--secondary-red);
    border-radius: 10px;
    padding: 15px;
    width: 50%;
    max-width: 100%;
    margin: 10px;
}


.jornadas-nav::-webkit-scrollbar {  
    display: none;
}

.jornada-btn {
    background-color: var(--primary-dark);
    color: var(--primary-white);
    border: none;
    padding: 12px 24px;
    margin: 0 8px ;
    border-radius: 20px;
    cursor: pointer;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.3s ease;
}

.jornada-btn:hover {
    background-color: var(--dark-gray);
}

.jornada-btn.active {
    background-color: var(--dark-gray);
}


.jornada-content {
    margin-top: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.partido-card {
    background-color: var(--primary-black);
    border-radius: 8px;
    padding: 15px;
    margin: 15px;
    box-shadow: 0 2px 5px var(--secondary-red);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 70px;
}


.equipo-nombre {
    font-size: 14px;
    color:var(--primary-white);
}

.resultado-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}

.resultado {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    font-family: 'Roboto', sans-serif;
}

.hora {
    font-size: 16px;
    font-weight: bold;
    color: var(--primary-white);
 
}

.estado {
    font-size: 11px;
    color: #666;
    margin-top: 4px;
    font-family: 'Roboto', sans-serif;
}

.visitante {
    text-align: right;
    justify-content: flex-end;
}

.visitante .equipo-nombre {
    order: 1;
}

.visitante .equipo-logo {
    order: 2;
}


 